body {
   background: 180px red rebeccapurple;
}
.buttoni{
  border: 5px solid firebrick;
    color: white;
    background: linear-gradient(135deg,rgb(172, 32, 32),rgb(202, 59, 59));
    border-radius: 10px;
    column-gap: 5px;
    padding: 5px;
    margin-block: 10px;
}